canvas {
    position: absolute;
    margin: auto;
    display: block;
    padding: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("images/V2 bg.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: white;
    border: 3px solid black;
}

body {
	background-size: cover;
	background-attachment: fixed;

    /*background-image: url(achtergrond.jpg);*/  /*achtergrond is een optie*/
    /*background-color: black;*/
}
